In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df = pd.read_csv("dataset.csv", encoding='ANSI')
df.head()

                                              tweets ideology
0  remembering comrade govind pansare on his mart...  Leftist
1  adanis overvalued companies are a threat not j...  Leftist
2  my article in the indian express on the adani ...  Leftist
3  remembering the pioneer of organised communist...  Neutral
4  our republic was formed with the motto of saty...  Leftist

In [2]:
import string
df['tweets'] = df['tweets'].apply(lambda x: x.translate(str.maketrans(string.punctuation, ' '*len(string.punctuation))))

In [3]:
from nltk.corpus import stopwords
stop = stopwords.words('english')
df['tweets'] = df['tweets'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))

In [4]:
df

                                                  tweets ideology
0      remembering comrade govind pansare martyrdom d...  Leftist
1      adanis overvalued companies threat institution...  Leftist
2      article indian express adani affair clear reve...  Leftist
3      remembering pioneer organised communist moveme...  Neutral
4      republic formed motto satyamev jayate intolera...  Leftist
...                                                  ...      ...
52675  valextra medium iside valextra bag handbag whi...  Neutral
52676  sale villaluxury home guadalmina baja guadalmi...  Neutral
52677  celine handbag ladies 18979 3dru tote bag lugg...  Neutral
52678  inside 300ft luxury superyacht alisters billio...  Neutral
52679  luxury seekers must exquisite dining fine thre...  Neutral

[52680 rows x 2 columns]

In [5]:
from nltk.stem import WordNetLemmatizer
st = WordNetLemmatizer()
df['tweets'] = df['tweets'].apply(lambda x: " ".join([st.lemmatize(word) for word in x.split()]))

In [6]:
from nltk.stem import PorterStemmer
st = PorterStemmer()
df['tweets'] = df['tweets'].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))

In [7]:
df

                                                  tweets ideology
0      rememb comrad govind pansar martyrdom day brav...  Leftist
1      adani overvalu compani threat institut retail ...  Leftist
2      articl indian express adani affair clear revel...  Leftist
3      rememb pioneer organis communist movement indi...  Neutral
4      republ form motto satyamev jayat intoler bjprs...  Leftist
...                                                  ...      ...
52675  valextra medium isid valextra bag handbag whit...  Neutral
52676  sale villaluxuri home guadalmina baja guadalmi...  Neutral
52677  celin handbag ladi 18979 3dru tote bag luggag ...  Neutral
52678  insid 300ft luxuri superyacht alist billionair...  Neutral
52679  luxuri seeker must exquisit dine fine threadco...  Neutral

[52680 rows x 2 columns]

In [8]:
# freq = pd.Series(' '.join(df['tweets']).split()).value_counts()
# low_freq = list(freq.loc[freq<5].index)
# df['tweets'] = df['tweets'].apply(lambda x: " ".join(x for x in x.split() if x not in low_freq))

In [9]:

from sklearn import preprocessing

label_encoder = preprocessing.LabelEncoder()

df['ideology']= label_encoder.fit_transform(df['ideology'])

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer


tfidf = TfidfVectorizer()

In [12]:
y= df.ideology.values
X = tfidf.fit_transform(df.tweets)

In [13]:
import pickle
pickle.dump(tfidf, open('tfidf.pkl', "wb"))

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=45, test_size=0.33, shuffle=True)

In [15]:
from sklearn import tree
from sklearn import svm
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import RandomForestClassifier

In [16]:
#Logistic regression
from sklearn.linear_model import LogisticRegression

clf = LogisticRegression(solver='saga', max_iter=100).fit(X_train, y_train)
print("accuracy:")
print(clf.score(X_test, y_test))

accuracy:
0.8003451251078516

In [17]:
import pickle
pickle.dump(clf,open('log_model.pkl','wb'))

In [18]:
#naive baise algo

from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(X_train,y_train)
model.score(X_test, y_test)

pickle.dump(model, open('nb_model.pkl','wb'))

In [19]:
#support vector machine
model = svm.SVC()
model.fit(X_train,y_train)
model.score(X_test, y_test)

pickle.dump(model, open('svm_model.pkl','wb'))

In [20]:
#random forest

model = RandomForestClassifier(max_features=0.2)
model.fit(X_train,y_train)
model.score(X_test, y_test)

pickle.dump(model, open('rf_model.pkl','wb'))

In [21]:
#RidgeClassifier

from sklearn.linear_model import RidgeClassifier
model= RidgeClassifier(max_iter= 12)
model.fit(X_train,y_train)
model.score(X_test, y_test)

pickle.dump(model, open('rg_model.pkl','wb'))

In [22]:
# leftist 0
# neutral 1
# righist 2

In [23]:
a= "babri masjid issue matters"
a_ser= pd.Series(a)
f= tfidf.transform(a_ser)

print(clf.predict(f))
print(clf.predict_proba(f))

[0]
[[0.88313263 0.08907768 0.02778969]]